html, body {
	margin: 0;
	padding: 0;
	overflow: auto;
	
}

html {

	overflow: hidden;
	min-height: 640px;
	max-height: 853px;
	background: white;
}

body {

}

.wrapper {
	
	width: 90%;
	margin: auto;

}

h1 {

	display: none;
	color: #6EDCC2;
	padding-bottom: 20px;
}


#shutterbug, #shutterbugPortrait {

	display: block;
	width: 50%;
	margin: 20px auto;
	//margin-bottom: 25%;
	max-width: 514px;

}

#shutterbugPortrait {
	margin-bottom: 10%;

}


#flexbox {
	//width: 100%;	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;



}

.flex {
	//padding: 5px;
	box-sizing: border-box;
	width: 80%;


	
	
}

#continue {

	//margin: 25% 0;

}

#continuePortait {

	margin: 5% 0;
}


ion-button {
	--border-color: #6EDCC2;
	--color: #000


}

ion-range {

	--bar-background: #6EDCC2;
	--bar-background-active: #6EDCC2;
	--knob-background: #6EDCC2;
	
}







p {
	font-size: 3vw;
}




#flexContainer {

	display: flex;
	flex-wrap: wrap;

}


#viewBox {
	margin: 0 auto;
	text-align: center;
	background: black;
	max-width: 800px;
}

#viewfinder {

	width: 80%;

}



#sliderBox {
	padding: 5%;
	//border: solid black 1px;
	flex-grow: 1;
}

#aperture {
	//width: 500px;
	//border: solid black 1px;
}


#sliderBox>p {
	display: inline;
	position: relative;
	top: 15px;
	left: 25px;
	

}

#sliderBox>div {
	display: flex;
	//width: 100%;	
}

#sliderBox div div {
	margin: 0;
	margin-left: 5%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid #6EDCC2 2px;
}

#sliderBox div div p {
	//border: solid lightgrey 3px;
	margin: 0;
	//height: 100%;

}

@media only screen and (min-width: 780px) {

	#shutterbugPortrait {

		margin-bottom: 0%;
	}


	#sliderBox {

		min-width: 800px;

	}

	p {
		font-size: 1.5vw;
	}


}





@media only screen and (min-width: 1600px) {


	#shutterbug, 
	#shutterbugPortrait {

		margin-bottom: 10%;
	}

	#viewBox {

		margin-left: 30px;
	}

	#sliderBox {

		min-width: 770px;

	}

	#flexContainer {

		margin-bottom: 40px;

	}

	.flex {
		align-self: center;
		width: 33%;
	}

	h1 {

		display: block;
	}



}































#flexContainerFeedback {

	display: flex;
	
	//background: black;

}

.flexFeedback {
	flex-grow: 1;
	border: solid 2px #6EDCC2;
	padding: 30px;
	text-align: center;
}