html, body {
	margin: 0;
	padding: 0;
	overflow: auto;
	
}

html {

	overflow: hidden;
	min-height: 640px;
	max-height: 853px;
	background: white;
}

body {

}

.wrapper {
	
	width: 90%;
	margin: auto;


}

h1 {

	display: none;
	color: #6EDCC2;
	padding-bottom: 20px;
}


#shutterbug {

	display: block;
	width: 50%;
	margin: 20px auto;
	//margin-bottom: 25%;
	max-width: 514px;

}

#landscape {

	padding-top: 0;
}

#flexbox {
	//width: 100%;	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;



}

.flex {
	padding: 3px;
	box-sizing: border-box;
	width: 80%;
	border-radius: 7.5%;
	
}

#continue, #continuePortrait {

	width: 80%;
	margin: auto;
	position: absolute;
	bottom: 35px;
	right: 50%;
	transform: translateX(50%);
}

ion-button {
	--border-color: #6EDCC2;
	--color: #000


}

ion-range {

	--bar-background: #6EDCC2;
	--bar-background-active: #6EDCC2;
	--knob-background: #6EDCC2;
	
}







#sliderBox p {
	font-size: 4vw;
}




#flexContainer {

	display: flex;
	flex-wrap: wrap;

}


#viewBox {
	margin: 0 auto;
	text-align: center;
	background: black;
	max-width: 800px;
}

#viewfinder {

	width: 80%;

}



#sliderBox {
	padding: 5%;
	//border: solid black 1px;
	flex-grow: 1;
}

#sliderBox>p {
	display: inline;
	position: relative;
	top: 15px;
	left: 25px;
	

}

#sliderBox>div {
	display: flex;
	//width: 100%;	
}

#sliderBox div div {
	margin: 0;
	margin-left: 5%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid #6EDCC2 2px;
}

#sliderBox div div p {
	//border: solid lightgrey 3px;
	margin: 0;
	//height: 100%;

}

@media only screen and (min-width: 780px) {

	#shutterbugPortrait {

		margin-bottom: 0%;
	}


	#sliderBox {

		min-width: 800px;

	}

	#shutterBox p {
		font-size: 1.5vw;
	}


}





@media only screen and (min-width: 1200px) {


	#shutterbug, 
	#shutterbugPortrait {

		margin-bottom: 10%;
	}

	#viewBox {

		margin-left: 30px;
	}

	#sliderBox {

		min-width: 370px;

	}

	#flexContainer {

		margin-bottom: 40px;

	}

	.flex {
		align-self: center;
		width: 33%;
	}

	h1 {

		display: block;
	}



}


























h2 {

	margin-top: 50%;
	margin-bottom: 15%;
	font-size: 1em;
	//text-align: center;
}

#feedback {

	margin-top: 20%;
}


#flexContainerFeedback {

	display: flex;
	
	//background: black;

}

.flexFeedback {
	flex-grow: 1;
	border: solid 2px #6EDCC2;
	padding: 30px;
	text-align: center;
	border-radius: 7.5%;
	margin: 3px;
}


#lowDOF img, #highDOF img, #highSpeed img, #lowSpeed img, #highISO img, #highEV img, #lowEV img, #perfectEV img

 {

	border: solid black 2px;

 }

.headline {

	text-align: center;
}