html, body {
	margin: 0;
	padding: 0;
	overflow: auto;
}

html {
	overflow: hidden;
	min-height: 640px;
	max-height: 853px;
	background: white;
}

.wrapper {	
	width: 90%;
	margin: auto;
}

h1 {
	display: none;
	color: #6EDCC2;
	padding-bottom: 20px;
}

#shutterbug {
	display: block;
	width: 50%;
	margin: 20px auto;
	max-width: 514px;
	
	
}

#flexbox {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}

.flex {

	box-sizing: border-box;
	width: 80%;

}

#portrait, #landscape, #macro {
	border-radius: 7.5%;
}

#portrait-link {
	margin: 0;
}

#continue {
	width: 80%;
	margin: auto;
	margin-bottom: 15px;
}

ion-button {
	--border-color: #6EDCC2;
	--color: #000
}

ion-range {
	--bar-background: #6EDCC2;
	--bar-background-active: #6EDCC2;
	--knob-background: #6EDCC2;
}

#sliderBox p {
	font-size: 4vw;
}

#flexContainer {
	display: flex;
	flex-wrap: wrap;
}

#viewBox {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	background: black;
	max-width: 750px;
}

#viewfinder {
	width: 80%;
	
}

#sliderBox {
	padding: 5%;
	flex-grow: 1;
}

#sliderBox>p {
	display: inline;
	position: relative;
	top: 15px;
	left: 25px;
}

#sliderBox>div {
	display: flex;	
}

#sliderBox div div {
	margin: 0;
	margin-left: 5%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid #6EDCC2 2px;
}

#sliderBox div div p {
	margin: 0;
}


#feedback {
	margin-top: 20%;
}


#flexContainerFeedback {
	display: flex;
}

.flexFeedback {
	flex-grow: 1;
	border: solid 2px #6EDCC2;
	padding: 30px;
	text-align: center;
	border-radius: 7.5%;
	margin: 3px;
	text-decoration: none;
}

#feedbackFlex {

	display: flex;
	flex-wrap: wrap;
	
}

#yes, #no {

	width: 100%;
}

#lowDOF img, #highDOF img, #highSpeed img, #lowSpeed img, #highISO img, #highEV img, #lowEV img, #perfectEV img
 {
	border: solid black 2px;
 }

.headline {
	text-align: center;
}

h2 {
	font-size: 5vw;
	margin-top: 50%;
}


@media only screen and (min-width: 1200px) {

	

	#viewBox {
		margin-left: 30px;
	}

	#sliderBox {
		min-width: 370px;

	}

	#flexContainer {
		margin-bottom: 40px;

	}

	.flex {
		align-self: center;
		width: 33%;
		padding: 3px;
	}

	h1 {
		font-size: 2vw;
		display: block;
	}

	#flexbox {
		margin-top: 75px;
	}

	#sliderBox p {
		font-size: 2vw;
	}

	#happy {
		text-align: center;
		margin-bottom: 5%;
		margin-top: 5%;
		font-size: 2vw;
	}

	#feedback {
		margin-bottom: 2%;
		margin-top: 5%;
		font-size: 2vw;
	}

	#lowDOF, #highDOF, #highSpeed, #lowSpeed, #highISO, #highEV, #lowEV, #perfectEV {
		padding: 20px;
		width: 25%;
		flex-grow: 1;
		text-align: center;
	}
	
	.flexFeedback {
		font-size: 5vw;
		padding: 100px;
		border: solid 5px #6EDCC2;
		margin: 10px;
	}

	#continue {
		height: 100px;
		font-size: 2vw;
	}

	#feedback {

		display: none;
	}

	#perfectEV  {

		max-width: 750px;
		margin: auto;
	}

}




















